# Client port
PORT=3008

# -------------------------------------------------------
# SERVER CONNECTION
# Set this to your server URL.
# Local dev:      http://localhost:4002
# Staging:        https://api-staging.yourdomain.com
# Production:     https://api.yourdomain.com
# -------------------------------------------------------
REACT_APP_API_URL=http://localhost:4002

# Set to "local", "staging", or "production"
REACT_APP_ENVIRONMENT=local

REACT_APP_SCHOOL_NAME=Elevate Academy